* {
  /* border: red solid 1px; */
}
header {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 2rem 3rem 2rem 1rem; */
  /* padding-left: 5rem; */
  /* padding-right: 5rem; */
  /* border-bottom: black 1px solid; */

  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  font-size: 1.25rem;
}
.header-navigation {
  display: flex;
  justify-content: flex-start;
}
.header-navigation > :not(:first-child) {
  margin-left: 3rem;
}
.header-functions {
  display: flex;
  justify-content: flex-end;
}
.header-functions > :not(:last-child) {
  margin-right: 3rem;
}
