* {
  /* border: red solid 1px; */
}
header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  font-size: 1.25rem;
}
.header-navigation {
  display: flex;
  justify-content: flex-start;
}
.header-navigation > :not(:first-child) {
  margin-left: 3rem;
}
.header-functions {
  display: flex;
  justify-content: flex-end;
}
.header-functions > :not(:last-child) {
  margin-right: 3rem;
}
