header {
  /* Header Theme */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;

  /* Header Display */
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* Header Location and Size */
  height: 5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.navbar {
  /* Navagation Links */
  display: flex;
  justify-content: flex-start;
}
.navbar > :not(:first-child) {
  margin-left: 3rem;
}
.navbar-function {
  display: flex;
  justify-content: flex-end;
}
.navbar-function > :not(:last-child) {
  margin-right: 3rem;
}
