body {
  overflow-x: hidden;
}
.home-introduction {
  display: flex;
  height: 100vh;
}
.home-introduction-statement {
  height: 100%;
  width: 100vw;
  padding-top: 15%;
  padding-left: 15%;
}
.home-introduction-statement::before {
  background-image: url("../../assets/images/main-bg.jpeg");
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  opacity: 0.3;
  z-index: -1;
  overflow: hidden;
}
.home-introduction-statement > p {
  padding-left: 1.5rem;
}
