@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* To remove x-axis scroll bar caused from horizontal scroll bar space */
body {
  overflow-x: hidden;
}
